{$AIE_APP_DOMAIN} {
    basic_auth {
        {$AIE_BASIC_AUTH_USER} {$AIE_BASIC_AUTH_HASH}
    }
    reverse_proxy aie:8000
}

{$AIE_BROWSER_DOMAIN} {
    basic_auth {
        {$AIE_BASIC_AUTH_USER} {$AIE_BASIC_AUTH_HASH}
    }
    reverse_proxy browserless:3000
}
